name: Test
on: push

jobs:
  test:
    strategy:
      fail-fast: true
      matrix:
        platform: [macos, windows]
        goVer: ["oldstable", "stable"]
    runs-on: ${{ matrix.platform }}-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.goVer }}

      - name: Test
        run: make test-ci
